a { text-decoration: none; }
.Default_Paragraph_Font, .BuiltIn-style, .Character-style { -aw-style-name: defaultparagraphfont; -gd-style-name: 'Default Paragraph Font'; font-family: Calibri; font-size: 10pt; font-weight: normal; font-style: normal; }
.Normal, .Quick-style, .BuiltIn-style, .Paragraph-style { -gd-style-name: 'Normal'; font-family: Calibri; font-size: 12pt; font-weight: normal; font-style: normal; text-align: left; margin-top: 0pt; margin-bottom: 0pt; line-height: normal; }
.Table_Normal, .Quick-style, .BuiltIn-style, .Table-style { -aw-style-name: tablenormal; -gd-style-name: 'Table Normal'; font-family: Calibri; font-size: 10pt; font-weight: normal; font-style: normal; text-align: left; margin-top: 0pt; margin-bottom: 0pt; line-height: normal; }
#table001 { border-collapse: collapse; }
#img001 { -aw-wrap-type: inline; -aw-left-pos: 0pt; -aw-top-pos: 0pt; -aw-rel-hpos: column; -aw-rel-vpos: paragraph; }
span.text001 { font-family: Arial; font-size: 9pt; text-decoration: underline; }
span.text002 { font-family: Arial; font-size: 8pt; color: rgb(188, 188, 188); }
span.text003 { font-family: Arial; font-size: 8pt; color: rgb(188, 188, 188); }
span.text004 { font-family: Arial; font-size: 8pt; color: rgb(188, 188, 188); }
span.text005 { font-family: Arial; font-size: 8pt; color: rgb(188, 188, 188); }
span.text006 { font-family: Arial; font-size: 8pt; color: rgb(188, 188, 188); }
span.text007 { font-family: Arial; font-size: 8pt; color: rgb(188, 188, 188); }
span.text008 { font-family: Arial; font-size: 8pt; color: rgb(188, 188, 188); }
span.text009 { font-family: Arial; font-size: 8pt; color: rgb(188, 188, 188); }
span.text010 { font-family: Arial; font-size: 8pt; color: rgb(188, 188, 188); }
span.text011 { font-family: Arial; font-size: 8pt; color: rgb(188, 188, 188); }
span.text012 { font-family: Arial; font-size: 8pt; color: rgb(188, 188, 188); }
span.text013 { font-family: Arial; font-size: 8pt; color: rgb(188, 188, 188); }
span.text014 { font-family: Arial; font-size: 8pt; color: rgb(188, 188, 188); }
span.text015 { font-family: Arial; font-size: 8pt; color: rgb(188, 188, 188); }
span.text016 { font-family: Arial; font-size: 8pt; color: rgb(188, 188, 188); }
span.text017 { font-family: Arial; font-size: 8pt; color: rgb(188, 188, 188); }
span.text018 { font-family: Arial; font-size: 8pt; color: rgb(188, 188, 188); }
span.text019 { font-family: Arial; font-size: 8pt; color: rgb(188, 188, 188); }
span.text020 { font-family: Arial; font-size: 8pt; color: rgb(188, 188, 188); }
span.text021 { font-family: Arial; font-size: 8pt; color: rgb(188, 188, 188); }
span.text022 { font-family: Arial; font-size: 8pt; color: rgb(188, 188, 188); }
span.text023 { font-family: Arial; font-size: 8pt; color: rgb(188, 188, 188); }
span.text024 { font-family: Arial; font-size: 8pt; color: rgb(188, 188, 188); }
span.text025 { font-family: Arial; font-size: 8pt; color: rgb(188, 188, 188); }
span.text026 { font-family: Arial; font-size: 8pt; color: rgb(188, 188, 188); }
span.text027 { font-family: Arial; font-size: 8pt; color: rgb(188, 188, 188); }
span.text028 { font-family: Arial; font-size: 8pt; color: rgb(188, 188, 188); }
span.text029 { font-family: Arial; font-size: 8pt; color: rgb(188, 188, 188); }
span.text030 { font-family: Arial; font-size: 8pt; color: rgb(188, 188, 188); }
span.text031 { font-family: Arial; font-size: 8pt; color: rgb(188, 188, 188); }
span.text032 { font-family: Arial; font-size: 8pt; color: rgb(188, 188, 188); }
span.text033 { font-family: Arial; font-size: 8pt; color: rgb(188, 188, 188); }
span.text034 { font-family: Arial; font-size: 8pt; color: rgb(188, 188, 188); }